@inject ICourseService CourseService
@inject ISnackbar Snackbar

<EditForm Model='CourseModel' OnValidSubmit='Submit'>
    <DataAnnotationsValidator />
    <MudDialog Class='customdialog2'>

        <TitleContent>
            <div class='d-flex align-center'>
                @if (CourseModel.CourseId != 0)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3" />
                }
                <MudText Class='txt-uppercase' Typo='Typo.h6'>@dialogTitle</MudText>
                </div>
            </TitleContent>
            <DialogContent>
                <MudPaper Class='pa-2' Elevation='0'>
                    <MudGrid Class='settings-dialog pa-2' Spacing='1'>
                        <MudItem xs='12' sm='9'>
                            <MudSpacer/>
                            <MudTextField @bind-Value='@CourseModel.CourseName' Label='Course Name'
                                ErrorText="Required*" HelperText="Required*" Margin='Margin.Dense' />
                            <ValidationMessage For="()=> CourseModel.CourseName" />
                        </MudItem>
                        <MudItem xs='12' sm='9'>
                            <MudTextField @bind-Value='@CourseModel.ShortcutName' Label='Shortcut Name'
                                ErrorText="Required*" HelperText="Required*" Margin='Margin.Dense' />
                            <ValidationMessage For="()=> CourseModel.ShortcutName" />
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </DialogContent>
            <DialogActions>
                <MudSpacer />
                <MudButton Class='btn-ios-d font12' OnClick="Cancel" Variant='Variant.Text' Size='Size.Small'
                DisableElevation>Cancel</MudButton>
            @if(IsLoading)
            {
            <MudButton Class='btn-ios-d font12' ButtonType='ButtonType.Submit' Variant='Variant.Filled' Color='@color' Size='Size.Small' Disabled=IsLoading DisableElevation>
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class='font11 ms-2'>Loading...</MudText>
            </MudButton>
            } else {
                <MudButton Class='btn-ios-d font12' ButtonType='ButtonType.Submit' Variant='Variant.Filled' Color='@color'
                    Size='Size.Small' Disabled=IsLoading DisableElevation>
                    @buttonText
                </MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>


@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public CourseModel CourseModel { get; set; }
    [Parameter] public Color color { get; set; }
    [Parameter] public string dialogTitle { get; set; } = string.Empty;
    [Parameter] public string buttonText { get; set; } = string.Empty;
    private bool IsLoading = false;
    void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task Submit()
    {
        IsLoading = !IsLoading;
        Task t = CourseModel.CourseId == 0 ? AddCourse() : UpdateCourse();
        await t;
        if (t.Status == TaskStatus.RanToCompletion)
        {
            await Task.Delay(1000);
            Extensions.ShowAlert("Course successfully saved.", Variant.Filled, Snackbar, Severity.Success);
            MudDialog.Close();
            IsLoading = !IsLoading;
        }
    }
    private async Task AddCourse()
    {
        await CourseService.AddCourse(CourseModel);
    }
    private async Task UpdateCourse()
    {
        await CourseService.UpdateCourse(CourseModel);
    }
}