@inject ISanctionService sanctionService
@inject IDialogService dialogService
@inject ISnackbar Snackbar

<div class="settings">
    <MudTable class="data-grid" Items="@list" Hover="true" Breakpoint="Breakpoint.Xs"  Height="70vh"
        FixedHeader='true' FixedFooter='true' Bordered='true' Dense='true' RowsPerPage='15'
        Filter='new Func<SanctionModel,bool>(FilterItems)' Loading="IsLoading" Elevation="3">
        <ToolBarContent>
            <div class="d-flex flex-column">
                <MudText Typo='Typo.caption'>
                @list.Count()
                @(list.Count() == 1 ? "item" : "items")
                in Total
                </MudText>
                <MudTextField Class='txtfield-75' @bind-Value='searchTerm' Placeholder='Sanction Name'
                        Adornment='Adornment.Start' AdornmentIcon='@Icons.Material.Filled.Search' IconSize='Size.Small'
                        Clearable='true' Variant='Variant.Text' Immediate="true" Margin="Margin.Dense"/>
            </div>
            <MudSpacer />
            <MudTooltip Text="Refresh Table">
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Small" OnClick='GetList' />
            </MudTooltip>
            <MudMenu StartIcon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.TopLeft'
                TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small' Label='More'>
                <MudMenuItem OnClick="()=> EditDepartment(new())">
                    <div class='d-flex align-center gap-2 '>
                        <MudIcon Icon='@Icons.Material.Filled.Add' Size='Size.Small' />
                        <MudText Typo='Typo.body2'>Add</MudText>
                    </div>
                </MudMenuItem>
            </MudMenu>
        </ToolBarContent>
        <ColGroup>
            <col style='width: 20px' />
            <col />
            <col />
            <col style='width: 20px' />
        </ColGroup>
        <HeaderContent>
            <MudTh Class='customheader-1'>
                <MudTableSortLabel InitialDirection="SortDirection.Ascending"
                    SortBy="new Func<SanctionModel, object>(x=>x.SanctionId)">
                    Id
                </MudTableSortLabel>
            </MudTh>
            <MudTh Class='customheader-1'>
                <MudTableSortLabel InitialDirection="SortDirection.None"
                    SortBy="new Func<SanctionModel, object>(x=>x.SanctionName)">
                    Name
                </MudTableSortLabel>
            </MudTh>
            <MudTh Class='customheader-1 text-center pa-2'>Amount</MudTh>
            <MudTh Class='customheader-1 text-right pa-2'>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Division Name">@context.SanctionId</MudTd>
            <MudTd DataLabel="Short Name">@context.SanctionName</MudTd>
                <MudTd Class="text-end" DataLabel="Amount">@context.Amount.ToString("N2")</MudTd>
            <MudTd Class='text-center pa-2'>
                <MudMenu Icon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.TopLeft'
                    TransformOrigin='Origin.TopRight' Dense='true' Size='Size.Small'>
                    <MudMenuItem OnClick="()=> EditDepartment(context)">
                        <div class='d-flex align-center gap-2 '>
                            <MudIcon Icon='@Icons.Material.Filled.Edit' Size='Size.Small' />
                            <MudText Typo='Typo.body2'>Edit</MudText>
                        </div>
                    </MudMenuItem>
                    <MudMenuItem OnClick="()=> DeleteSanction(context.SanctionId)">
                        <div class='d-flex align-center gap-2 '>
                            <MudIcon Icon='@Icons.Material.Filled.Delete' Size='Size.Small' />
                            <MudText Typo='Typo.body2'>Remove</MudText>
                        </div>
                    </MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions='@pageSize' />
        </PagerContent>
    </MudTable>
</div>

@code {
    List<SanctionModel> list = new();
    private int[] pageSize = new int[] {30, 50, 100, 500, 1000 };
    private string searchTerm = string.Empty;
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "Sanctions";
        await GetList();
    }
    private async Task GetList()
    {
        IsLoading = true;
        Task<List<SanctionModel>> data = sanctionService.ListOfSanction(new FilterParameter());
        await data;
        if (data.Status == TaskStatus.RanToCompletion)
        {
            list = data.Result;
            await Task.Delay(1000);
            IsLoading = false;
            StateHasChanged();
        }
    }
    private bool FilterItems(SanctionModel items)
    {
        if (string.IsNullOrEmpty(searchTerm))
            return true;
        if (items.SanctionName.Contains(searchTerm, StringComparison.InvariantCultureIgnoreCase))
            return true;
        return false;
    }
    private async Task EditDepartment(SanctionModel dept)
    {
        var parameters = new DialogParameters();
        parameters.Add("color", dept.SanctionId == 0 ? Color.Info : Color.Success);
        parameters.Add("dialogTitle", dept.SanctionId == 0 ? "Add Sanction" : "Edit Sanction");
        parameters.Add("buttonText", dept.SanctionId == 0 ? "Add" : "Save");
        parameters.Add("SanctionModel", dept);
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, NoHeader = false, DisableBackdropClick = false };
        var resultDialog = await dialogService.Show<Dialogs.SanctionDialog>("", parameters, options).Result;
        if (!resultDialog.Canceled)
        {
            await GetList();
        }
    }
    private async Task DeleteSanction(int id)
    {
        IsLoading = !IsLoading;
        Task t = sanctionService.DeleteSanction(id);
        await t;
        if(t.Status == TaskStatus.RanToCompletion)
        {
            await GetList();
            Extensions.ShowAlert("Sanction successfully remove.", Variant.Filled, Snackbar, Severity.Success);
        }
    }
}